body {
  background: #fafafa;
  font-family: Arial, sans-serif;
  text-align: center;
}
canvas {
  background: #eee;
  border: 2px solid #48f;
  margin-top: 10px;
}
#score {
  color: #222;
  font-weight: bold;
}
